<header>
  <div class="container"><h2>{{ title }}</h2></div>
</header>
<section class="main">
  <div class="movies">
      <div class="movies_item" *ngFor="let film of films.results" [style.background-image]="this.film.image" (click)="openFilm(this.film)">
          <div class="movies_item_nav">
              <h4>Star Wars - {{ this.film.title }}</h4>
          </div>
      </div>
  </div>
</section>
<section class="movie_details" [ngClass]="{'active': renderFilmScreen == true}">
  <div class="movie_details_close" (click)="closeFilm()">x</div>
  <div class="container">
    <div class="movie_details_image" [style.background-image]="filmDetails.image"></div>
    <div class="movie_details_content">
      <h2>Star Wars - {{ filmDetails.title }}</h2>
      <p class="rounded_tag">Diretor: {{ filmDetails.director }}</p>
      <p><strong>Produtor:</strong> {{ filmDetails.producer }}</p>
      <p><strong>Data de lançamento:</strong> {{ filmDetails.release_date | date }}</p>
      <p><strong>Sinopse:</strong> {{ filmDetails.opening_crawl }}</p>
    </div>
  </div>
</section>

